/* https://colorhunt.co/palette/04156211468fda1212eeeeee*/
/*font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #876445;
  text-align: center;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  width: 490px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #876445;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #876445;
}

p {
  color: #876445;
  margin: 0.2em;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #11468F;
  position: relative;
  height: 80vh;
  width: 98.6vw;
  padding-right: 0;
  text-align: center;
  overflow: hidden;
}

.bottom-cloud {
  position: absolute;
  left: 6em;
  bottom: 13em;
}

.indiv {
  font-size: 2.5rem;
  color: #876445;
  margin: 0.2em;
}

.white {
  color: white;
}

.top-cloud {
  position: absolute;
  top: 4em;
  right: 15em;
}

.mountain2 {
  position: absolute;
  width: auto;
  height: auto;
  bottom: -55px;
  right: -10;
}

.programmer {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}
.paragliding {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}
.middle-container {
  background-color: black;
}
.bottom-container {
  background-color: black;
}
.sun {
  background-color: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 120px;
  bottom: 160px;
}
.pro {
  font-family: monospace;
  font-size: 2.5rem;
}
a {
  color: #11999E;
}
